#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=54) ;
  filter: alpha(opacity=54) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}