#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 568px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 568px;
  opacity: 0.54;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 65px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Image_2 {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 307px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Label_1 {
  position: absolute;
  top: 28px;
  left: 90px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_2 {
  position: absolute;
  top: 118px;
  left: 6px;
  width: 308px;
  height: 55px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 24pt;
  font-family: Verdana;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-size: 24pt;
  font-style: normal;
  font-weight: 700;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-size: 24pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Image_3 {
  position: absolute;
  top: 75px;
  left: 147px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_4 {
  position: absolute;
  top: 156px;
  left: 6px;
  width: 314px;
  height: 104px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14pt;
  font-family: Arial;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_4 span#rtr-s-Rich_text_4_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_4 span#rtr-s-Rich_text_4_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Group_8 {
  position: absolute;
  top: 265px;
  left: 75px;
  width: 169px;
  height: 38px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 163px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Arial;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rectangle_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 8px;
  width: 161px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Input_5 input {
  color: #C0C0C0;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Button_11 {
  position: absolute;
  top: 331px;
  left: 118px;
  width: 74px;
  height: 21px;
  background-color: #5CB85C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Button_11 .valign {
  vertical-align: middle;
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}