#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=54);
  filter: alpha(opacity=54);
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 163px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 #s-Button_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-09f25f72-1a0c-43b2-b3f1-1cb16f80d1b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}