#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=54);
  filter: alpha(opacity=54);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Rich_text_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Rectangle_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 26px 26px 26px 26px;
  padding-top: 13px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  width: 47px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee #s-Label_47 {
  -ms-transform: rotate(0.0deg);
}
#s-243f69c8-869e-4406-8971-fdbc0ef509ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}