#s-c9bf27f6-c6e8-4855-ba2c-8f9b372dda1a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=54);
  filter: alpha(opacity=54);
}
#s-c9bf27f6-c6e8-4855-ba2c-8f9b372dda1a #s-Rich_text_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-c9bf27f6-c6e8-4855-ba2c-8f9b372dda1a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c9bf27f6-c6e8-4855-ba2c-8f9b372dda1a #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c9bf27f6-c6e8-4855-ba2c-8f9b372dda1a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c9bf27f6-c6e8-4855-ba2c-8f9b372dda1a #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c9bf27f6-c6e8-4855-ba2c-8f9b372dda1a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}